<!doctype html>
<html>
  <body>
    <p>Hi {{ $adminName }},</p>
    <p>Your admin account has been created.</p>
    <p><strong>ID:</strong> {{ $adminId }}<br>
       <strong>Password:</strong> {{ $password }}</p>
    <p>Please sign in and change your password immediately.</p>
  </body>
</html>
